In [ ]:
control structures: 
    
if 
if elif
if elif else
break
continue

loops :
    
for 
while 
with

In [3]:
x=20
if x<10:
    print("simple text")

In [4]:
x=20
if True:
    print("simple text")

simple text

In [5]:
x=20
if False:
    print("simple text")

In [13]:
x=12
if x<10:
    print("simple text")
elif x>10 and x<20:
    print("simple text2")

simple text2

In [16]:
x=1200
if x<10:
    print("simple text")
elif x>10 and x<20:
    print("simple text2")
else:
    print("text123")

text123

In [17]:
x=[1,2,3]

In [18]:
for i in x:
    print(i)

1
2
3

In [21]:
 x="data science".split()
for i in x:
    print(i)

data
science

In [23]:
text="Google News is a news aggregator app developed by Google. It presents a continuous, customizable flow of articles organized from thousands of publishers and magazines. Google News is available as an app on Android, iOS, and the Web. Google released a beta version in September 2002 and the official app in January 2006. "

In [24]:
text

'Google News is a news aggregator app developed by Google. It presents a continuous, customizable flow of articles organized from thousands of publishers and magazines. Google News is available as an app on Android, iOS, and the Web. Google released a beta version in September 2002 and the official app in January 2006. '

In [44]:
x=[]
for i in text.split():
    if (i.lower() not in x) and (i.isalpha()):
        x.append(i.lower())

In [45]:
len(x)

31

In [46]:
print(x)

['google', 'news', 'is', 'a', 'aggregator', 'app', 'developed', 'by', 'it', 'presents', 'customizable', 'flow', 'of', 'articles', 'organized', 'from', 'thousands', 'publishers', 'and', 'available', 'as', 'an', 'on', 'the', 'released', 'beta', 'version', 'in', 'september', 'official', 'january']

In [48]:
for i in x:
    print(i,text.lower().count(i)/len(text.split()))

google 0.07547169811320754
news 0.05660377358490566
is 0.05660377358490566
a 0.5283018867924528
aggregator 0.018867924528301886
app 0.05660377358490566
developed 0.018867924528301886
by 0.018867924528301886
it 0.018867924528301886
presents 0.018867924528301886
customizable 0.018867924528301886
flow 0.018867924528301886
of 0.05660377358490566
articles 0.018867924528301886
organized 0.018867924528301886
from 0.018867924528301886
thousands 0.018867924528301886
publishers 0.018867924528301886
and 0.09433962264150944
available 0.018867924528301886
as 0.03773584905660377
an 0.1509433962264151
on 0.05660377358490566
the 0.03773584905660377
released 0.018867924528301886
beta 0.018867924528301886
version 0.018867924528301886
in 0.07547169811320754
september 0.018867924528301886
official 0.018867924528301886
january 0.018867924528301886

In [50]:
import os
t=os.listdir("C:\\Users\\ajoseph\\Downloads\\bbc-fulltext\\bbc")

In [51]:
t

['business', 'entertainment', 'politics', 'README.TXT', 'sport', 'tech']

In [52]:
t.remove("README.TXT")

In [53]:
t

['business', 'entertainment', 'politics', 'sport', 'tech']

In [55]:
import glob
file_names=glob.glob("C:\\Users\\ajoseph\\Downloads\\bbc-fulltext\\bbc\\business\\*.txt")

In [58]:
x=open(file_names[0])
x.read()

'Ad sales boost Time Warner profit\n\nQuarterly profits at US media giant TimeWarner jumped 76% to $1.13bn (Â£600m) for the three months to December, from $639m year-earlier.\n\nThe firm, which is now one of the biggest investors in Google, benefited from sales of high-speed internet connections and higher advert sales. TimeWarner said fourth quarter sales rose 2% to $11.1bn from $10.9bn. Its profits were buoyed by one-off gains which offset a profit dip at Warner Bros, and less users for AOL.\n\nTime Warner said on Friday that it now owns 8% of search-engine Google. But its own internet business, AOL, had has mixed fortunes. It lost 464,000 subscribers in the fourth quarter profits were lower than in the preceding three quarters. However, the company said AOL\'s underlying profit before exceptional items rose 8% on the back of stronger internet advertising revenues. It hopes to increase subscribers by offering the online service free to TimeWarner internet customers and will try to sign up AOL\'s existing customers for high-speed broadband. TimeWarner also has to restate 2000 and 2003 results following a probe by the US Securities Exchange Commission (SEC), which is close to concluding.\n\nTime Warner\'s fourth quarter profits were slightly better than analysts\' expectations. But its film division saw profits slump 27% to $284m, helped by box-office flops Alexander and Catwoman, a sharp contrast to year-earlier, when the third and final film in the Lord of the Rings trilogy boosted results. For the full-year, TimeWarner posted a profit of $3.36bn, up 27% from its 2003 performance, while revenues grew 6.4% to $42.09bn. "Our financial performance was strong, meeting or exceeding all of our full-year objectives and greatly enhancing our flexibility," chairman and chief executive Richard Parsons said. For 2005, TimeWarner is projecting operating earnings growth of around 5%, and also expects higher revenue and wider profit margins.\n\nTimeWarner is to restate its accounts as part of efforts to resolve an inquiry into AOL by US market regulators. It has already offered to pay $300m to settle charges, in a deal that is under review by the SEC. The company said it was unable to estimate the amount it needed to set aside for legal reserves, which it previously set at $500m. It intends to adjust the way it accounts for a deal with German music publisher Bertelsmann\'s purchase of a stake in AOL Europe, which it had reported as advertising revenue. It will now book the sale of its stake in AOL Europe as a loss on the value of that stake.\n'

In [60]:
y=[]
for i in t:
    for j in glob.glob("C:\\Users\\ajoseph\\Downloads\\bbc-fulltext\\bbc\\"+i+"\\*.txt"):
        x=open(j)
        y.append([i,j,x.read()])

In [62]:
len(y)

2225

In [66]:
import pandas as pd
pd.DataFrame([1,2,3,4],index=[4,5,6,7],columns=['bharath'])

   bharath
4        1
5        2
6        3
7        4

In [70]:
import pandas as pd
import numpy as np
pd.DataFrame(np.random.randint(10,50,(5,5)),columns="A B C D E".split())

    A   B   C   D   E
0  29  35  13  39  27
1  19  46  15  44  11
2  47  33  44  27  31
3  47  23  43  39  11
4  17  26  38  10  39

In [73]:
df=pd.read_excel(r"C:\Users\ajoseph\Desktop\DBA report- 21st Aug to 5th Sep- verified-Sep19.xlsx")

In [75]:
df.head(2)

,S.No,Employee ID,Employee Name,Department,Worked days eligible for HA- As per Manager,Remarks,Additional Remarks,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,1,BLR08192126,Manushree Ashwath,Billing,3,Not available in DBA report,User moved Night shift from 3rd Sep onwards,NaN,NaN,NaN
1,2,BLR08160958,Jagadish R,Admin,3,Not available in DBA report,NaN,NaN,NaN,NaN

In [ ]:
pd.read

In [76]:
df.columns

Index(['S.No', 'Employee ID', 'Employee Name', 'Department',
       'Worked days eligible for HA- As per Manager', 'Remarks ',
       'Additional Remarks', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

In [77]:
df.index

RangeIndex(start=0, stop=71, step=1)

In [78]:
df.shape

(71, 10)