In [20]:
a=2
b=2.6
c="Data Science"
type(a),type(b),type(c)

(int, float, str)

In [5]:
c

'data science'

In [10]:
c[0], c[0:4], c[-4:-1], c[-4:]

('d', 'data', 'enc', 'ence')

In [11]:
c.upper(), c.lower(), c.capitalize(), c.isupper(), c.islower()

('DATA SCIENCE', 'data science', 'Data science', False, True)

In [21]:
c.isalpha(), c.isalnum(), c.isdigit(), c.endswith("e"), c.startswith("D")

(False, False, False, True, True)

In [ ]:
### LIST AND NUMPY

In [6]:
x = [1,2,3,"data science"]

In [7]:
x[-1]

'data science'

In [8]:
x[-1][-1]

'e'

In [9]:
type(x)

list

In [10]:
x/2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [11]:
import numpy as np
y = np.array(x)

In [12]:
y

array(['1', '2', '3', 'data science'], dtype='<U12')

In [13]:
y/2

TypeError: ufunc 'true_divide' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [36]:
z=np.array([[1,2,3],[1,2,3],[1,2,3],[1,2,3]])
z

array([[1, 2, 3],
       [1, 2, 3],
       [1, 2, 3],
       [1, 2, 3]])

In [18]:
np.random.randint(10,100,10)

array([84, 86, 27, 62, 12, 45, 42, 43, 70, 98])

In [42]:
i=np.random.randint(10,100,(9,4))

In [43]:
i[:,:]

array([[11, 56, 14, 39],
       [29, 29, 95, 16],
       [39, 68, 75, 20],
       [76, 93, 77, 87],
       [93, 72, 99, 77],
       [71, 65, 63, 52],
       [75, 36, 17, 67],
       [70, 60, 95, 93],
       [59, 23, 76, 80]])

In [45]:
i[0:4,:]

array([[11, 56, 14, 39],
       [29, 29, 95, 16],
       [39, 68, 75, 20],
       [76, 93, 77, 87]])

In [47]:
i[0:4,1:3]

array([[56, 14],
       [29, 95],
       [68, 75],
       [93, 77]])

In [48]:
i[0:4,1]

array([56, 29, 68, 93])

In [49]:
i

array([[11, 56, 14, 39],
       [29, 29, 95, 16],
       [39, 68, 75, 20],
       [76, 93, 77, 87],
       [93, 72, 99, 77],
       [71, 65, 63, 52],
       [75, 36, 17, 67],
       [70, 60, 95, 93],
       [59, 23, 76, 80]])

In [50]:
i[0]

array([11, 56, 14, 39])

In [51]:
i[0] - i

array([[  0,   0,   0,   0],
       [-18,  27, -81,  23],
       [-28, -12, -61,  19],
       [-65, -37, -63, -48],
       [-82, -16, -85, -38],
       [-60,  -9, -49, -13],
       [-64,  20,  -3, -28],
       [-59,  -4, -81, -54],
       [-48,  33, -62, -41]])

In [53]:
(i[0] - i)*(i[0] - i)

array([[   0,    0,    0,    0],
       [ 324,  729, 6561,  529],
       [ 784,  144, 3721,  361],
       [4225, 1369, 3969, 2304],
       [6724,  256, 7225, 1444],
       [3600,   81, 2401,  169],
       [4096,  400,    9,  784],
       [3481,   16, 6561, 2916],
       [2304, 1089, 3844, 1681]])

In [55]:
((i[0] - i)*(i[0] - i)).sum(axis=1)

array([    0,  8143,  5010, 11867, 15649,  6251,  5289, 12974,  8918])

In [59]:
np.sqrt(((i[0] - i)*(i[0] - i)).sum(axis=1))

array([  0.        ,  90.23857268,  70.78135348, 108.93576089,
       125.09596316,  79.06326581,  72.72551134, 113.9034679 ,
        94.43516294])

In [58]:
np.sqrt(((i[0] - i)*(i[0] - i)).sum(axis=1)[1:]).argmin()

1

In [ ]:
##Calculate the salary hike