### base model - with only number variables

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
df_train=pd.read_csv("C:\\Sridhar\\AI_ML\\Algorithms\\datasets\\HomePrices\\train.csv")
df_holdout=pd.read_csv("C:\\Sridhar\\AI_ML\\Algorithms\\datasets\\HomePrices\\test.csv")

In [5]:
df_train.shape,df_holdout.shape

((1460, 81), (1459, 80))

In [6]:
df_train=df_train[df_train.describe().columns]

In [7]:
df_train.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,192,84,0,0,0,0,0,12,2008,250000

In [8]:
df_train.drop('Id',axis=1,inplace=True)

In [9]:
y=df_train['SalePrice'].values
x=df_train.drop('SalePrice',axis=1)

In [10]:
x=x.values

In [11]:
df_train.shape

(1460, 37)

In [12]:
df_train.fillna(20,inplace=True)

In [13]:
from numpy.linalg import inv

In [16]:
beta_coeff=np.dot((np.dot(x.T,inv(np.dot(x,x.T)))),y)

In [15]:
beta_coeff

array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan])

In [17]:
pd.set_option('display.float_format', '{:.2f}'.format)

In [18]:
pd.DataFrame([beta_coeff,x.columns]).T

AttributeError: 'numpy.ndarray' object has no attribute 'columns'

### base model - with all variables variables

In [129]:
import pandas as pd

In [130]:
import numpy as np

In [131]:
df_train=pd.read_csv("C:\\Users\\hh\\Desktop\\datasets\\train.csv")
df_holdout=pd.read_csv("C:\\Users\\hh\\Desktop\\datasets\\test.csv")

In [132]:
df_train.shape,df_holdout.shape

((1460, 81), (1459, 80))

In [133]:
df_train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.00,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.00,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.00,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.00,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.00,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [134]:
from sklearn.preprocessing import LabelEncoder
for i in df_train.describe(include='object').columns:
    le=LabelEncoder()
    le.fit(df_train[i].astype(str))
    t=le.transform(df_train[i].astype(str))
    df_train[i]=t

In [135]:
df_train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,3,65.00,8450,1,2,3,3,0,...,0,3,4,4,0,2,2008,8,4,208500
1,2,20,3,80.00,9600,1,2,3,3,0,...,0,3,4,4,0,5,2007,8,4,181500
2,3,60,3,68.00,11250,1,2,0,3,0,...,0,3,4,4,0,9,2008,8,4,223500
3,4,70,3,60.00,9550,1,2,0,3,0,...,0,3,4,4,0,2,2006,8,0,140000
4,5,60,3,84.00,14260,1,2,0,3,0,...,0,3,4,4,0,12,2008,8,4,250000

In [136]:
df_train.drop('Id',axis=1,inplace=True)

In [137]:
df_train.fillna(20,inplace=True)

In [146]:
y=df_train['SalePrice'].values
x=df_train.drop('SalePrice',axis=1)

In [139]:
x.shape

(1460, 79)

In [140]:
x=x.values

In [141]:
df_train.shape

(1460, 80)

In [142]:
from numpy.linalg import inv

In [143]:
beta_coeff=np.dot((np.dot(x.T,inv(np.dot(x,x.T)))),y)

In [144]:
pd.set_option('display.float_format', '{:.2f}'.format)

In [147]:
pd.DataFrame([beta_coeff,x.columns]).T

            0              1
0    -4167.91     MSSubClass
1  -149965.46       MSZoning
2    -8033.11    LotFrontage
3     6012.52        LotArea
4  1043761.97         Street
5   237057.61          Alley
6   101008.71       LotShape
7  -144423.18    LandContour
8  2420806.29      Utilities
9   -11890.04      LotConfig
10 -247959.77      LandSlope
11  -24060.56   Neighborhood
12   16784.01     Condition1
13 -367816.57     Condition2
14  -21279.46       BldgType
15   28951.35     HouseStyle
16  -73617.68    OverallQual
17   79351.85    OverallCond
18   -8100.66      YearBuilt
19   10486.43   YearRemodAdd
20 -124219.27      RoofStyle
21  -14929.98       RoofMatl
22   94050.24    Exterior1st
23  -97325.35    Exterior2nd
24   65356.64     MasVnrType
25    1483.00     MasVnrArea
26   78017.01      ExterQual
27   47714.35      ExterCond
28   66401.44     Foundation
29 -119398.96       BsmtQual
..        ...            ...
49   91413.99       HalfBath
50   94775.66   BedroomAbvGr
51 1365235.50   KitchenAbvGr
52   69471.40    KitchenQual
53 -354833.02   TotRmsAbvGrd
54    4733.40     Functional
55  -71703.58     Fireplaces
56  -46576.43    FireplaceQu
57  -16496.29     GarageType
58    1901.13    GarageYrBlt
59 -109305.05   GarageFinish
60     150.67     GarageCars
61     816.64     GarageArea
62 -188476.62     GarageQual
63  225516.73     GarageCond
64  236219.91     PavedDrive
65     905.66     WoodDeckSF
66     125.69    OpenPorchSF
67    -232.24  EnclosedPorch
68   -3400.62      3SsnPorch
69   -3264.43    ScreenPorch
70   -2946.90       PoolArea
71 -530378.82         PoolQC
72  -93950.98          Fence
73 -123682.86    MiscFeature
74     -17.31        MiscVal
75  -10712.46         MoSold
76    5351.96         YrSold
77   20236.53       SaleType
78  -47731.17  SaleCondition

[79 rows x 2 columns]

In [149]:
df_holdout.shape

(1459, 80)

In [150]:
df_holdout.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.00,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.00,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.00,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.00,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.00,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [151]:
from sklearn.preprocessing import LabelEncoder
for i in df_holdout.describe(include='object').columns:
    le=LabelEncoder()
    le.fit(df_holdout[i].astype(str))
    t=le.transform(df_holdout[i].astype(str))
    df_holdout[i]=t

In [152]:
df_holdout.fillna(20,inplace=True)

In [153]:
df_holdout.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,2,80.00,11622,1,2,3,3,0,...,120,0,2,2,3,0,6,2010,8,4
1,1462,20,3,81.00,14267,1,2,0,3,0,...,0,0,2,4,0,12500,6,2010,8,4
2,1463,60,3,74.00,13830,1,2,0,3,0,...,0,0,2,2,3,0,3,2010,8,4
3,1464,60,3,78.00,9978,1,2,0,3,0,...,0,0,2,4,3,0,6,2010,8,4
4,1465,120,3,43.00,5005,1,2,0,1,0,...,144,0,2,4,3,0,1,2010,8,4

In [154]:
df_holdout.drop('Id',axis=1,inplace=True)

In [155]:
df_holdout.shape

(1459, 79)

In [156]:
len(beta_coeff)

79

In [157]:
predictions=np.multiply(df_holdout.values,beta_coeff).sum(axis=1)

In [158]:
test.shape

(1459,)

In [160]:
sumbission_file=pd.DataFrame(predictions)

In [161]:
sumbission_file.to_excel("sumbission_file.xlsx")

In [162]:
pwd

'C:\\Users\\hh'