In [1]:
import pandas as pd
df=pd.read_csv("C:\\Users\\Vivek\\Desktop\\Dataset\\train.csv")

In [3]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [11]:
df[['Id','MSSubClass']].corr().values

array([[1.        , 0.01115648],
       [0.01115648, 1.        ]])

In [12]:
df[['Id','MSSubClass']].corr().values[0][1]

0.011156478201382672

In [30]:
corr1=[]
for i in df.corr().columns:
    for j in df.corr().columns:
        value=df[[i,j]].corr().values[0][1]
        if (value>0.5) and (i!=j):
            print(i,j,value)

OverallQual YearBuilt 0.572322768962362
OverallQual YearRemodAdd 0.550683924194174
OverallQual TotalBsmtSF 0.5378084986123927
OverallQual GrLivArea 0.5930074300286511
OverallQual FullBath 0.5505997093682552
OverallQual GarageYrBlt 0.5477658448351637
OverallQual GarageCars 0.6006707165907189
OverallQual GarageArea 0.5620217566126064
OverallQual SalePrice 0.7909816005838047
YearBuilt OverallQual 0.572322768962362
YearBuilt YearRemodAdd 0.5928549763436497
YearBuilt GarageYrBlt 0.8256674841743434
YearBuilt GarageCars 0.5378500917111045
YearBuilt SalePrice 0.5228973328794967
YearRemodAdd OverallQual 0.550683924194174
YearRemodAdd YearBuilt 0.5928549763436497
YearRemodAdd GarageYrBlt 0.6422767797035414
YearRemodAdd SalePrice 0.5071009671113867
BsmtFinSF1 TotalBsmtSF 0.5223960519923907
BsmtFinSF1 BsmtFullBath 0.6492117535742737
TotalBsmtSF OverallQual 0.5378084986123927
TotalBsmtSF BsmtFinSF1 0.5223960519923907
TotalBsmtSF 1stFlrSF 0.8195299750050355
TotalBsmtSF SalePrice 0.6135805515591944
1stFlrSF TotalBsmtSF 0.8195299750050355
1stFlrSF GrLivArea 0.5660239689357487
1stFlrSF SalePrice 0.6058521846919166
2ndFlrSF GrLivArea 0.6875010641666008
2ndFlrSF HalfBath 0.6097073002717444
2ndFlrSF BedroomAbvGr 0.5029006133459021
2ndFlrSF TotRmsAbvGrd 0.6164226354915353
GrLivArea OverallQual 0.5930074300286511
GrLivArea 1stFlrSF 0.5660239689357487
GrLivArea 2ndFlrSF 0.6875010641666008
GrLivArea FullBath 0.6300116462511144
GrLivArea BedroomAbvGr 0.5212695109189988
GrLivArea TotRmsAbvGrd 0.8254893743088377
GrLivArea SalePrice 0.7086244776126511
BsmtFullBath BsmtFinSF1 0.6492117535742737
FullBath OverallQual 0.5505997093682552
FullBath GrLivArea 0.6300116462511144
FullBath TotRmsAbvGrd 0.5547842535334817
FullBath SalePrice 0.5606637627484452
HalfBath 2ndFlrSF 0.6097073002717444
BedroomAbvGr 2ndFlrSF 0.5029006133459021
BedroomAbvGr GrLivArea 0.5212695109189988
BedroomAbvGr TotRmsAbvGrd 0.6766199357426479
TotRmsAbvGrd 2ndFlrSF 0.6164226354915353
TotRmsAbvGrd GrLivArea 0.8254893743088377
TotRmsAbvGrd FullBath 0.5547842535334817
TotRmsAbvGrd BedroomAbvGr 0.6766199357426479
TotRmsAbvGrd SalePrice 0.5337231555820238
GarageYrBlt OverallQual 0.5477658448351637
GarageYrBlt YearBuilt 0.8256674841743434
GarageYrBlt YearRemodAdd 0.6422767797035414
GarageYrBlt GarageCars 0.5889200070047019
GarageYrBlt GarageArea 0.5645670607230588
GarageCars OverallQual 0.6006707165907189
GarageCars YearBuilt 0.5378500917111045
GarageCars GarageYrBlt 0.5889200070047019
GarageCars GarageArea 0.8824754142814603
GarageCars SalePrice 0.640409197258349
GarageArea OverallQual 0.5620217566126064
GarageArea GarageYrBlt 0.5645670607230588
GarageArea GarageCars 0.8824754142814603
GarageArea SalePrice 0.6234314389183598
SalePrice OverallQual 0.7909816005838047
SalePrice YearBuilt 0.5228973328794967
SalePrice YearRemodAdd 0.5071009671113867
SalePrice TotalBsmtSF 0.6135805515591944
SalePrice 1stFlrSF 0.6058521846919166
SalePrice GrLivArea 0.7086244776126511
SalePrice FullBath 0.5606637627484452
SalePrice TotRmsAbvGrd 0.5337231555820238
SalePrice GarageCars 0.640409197258349
SalePrice GarageArea 0.6234314389183598

In [15]:
len(corr1)

1444

In [19]:
corr1.remove(1)

In [23]:
import numpy as np
corr1=np.array(corr1)

In [26]:
corr1[corr1>0.5].shape

(113,)

In [27]:
corr1[corr1<-0.5].shape

(0,)

In [16]:
38*38

1444

In [14]:
df.corr().shape

(38, 38)