In [ ]:
### pandas sampling
### code for connecting to databases
### pdf/image/docx

In [ ]:
#### sampling concepts
1 samples 
2 samples
3 samples ( ANOVA)

In [ ]:
### sampling

In [9]:
import pandas as pd
df=pd.read_csv("C:\\Sridhar\\AI_ML\\Python\\Pandas\\file1\\application_train.csv")

In [10]:
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
df.shape

(307511, 122)

In [12]:
df['TARGET'].value_counts()

0    282686
1     24825
Name: TARGET, dtype: int64

In [15]:
(df['TARGET'].value_counts(normalize=True))*100

0    91.927118
1     8.072882
Name: TARGET, dtype: float64

In [16]:
x1=df[df['TARGET']==1]

In [17]:
x1.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
26,100031,1,Cash loans,F,N,Y,0,112500.0,979992.0,27076.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
40,100047,1,Cash loans,M,N,Y,0,202500.0,1193580.0,35028.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,4.0
42,100049,1,Cash loans,F,N,N,0,135000.0,288873.0,16258.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
81,100096,1,Cash loans,F,N,Y,0,81000.0,252000.0,14593.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
x1.shape[0]

24825

In [ ]:
### Under sampling: The total number of samples for minor class which is x1 here. Now we are reducing the major class which 
# is x2 here are reduced in such way that it should be equal to monor calls x1 using below formula

In [7]:
x2=df[df['TARGET']==0].sample(x1.shape[0])

In [8]:
x2.shape

(24825, 122)

In [19]:
x1.shape, x2.shape

((24825, 122), (24825, 122))

In [20]:
test1 = x1.append(x2)

In [21]:
test1.shape

(49650, 122)

In [28]:
test1.sort_index

<bound method DataFrame.sort_index of         SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0           100002       1         Cash loans           M            N
26          100031       1         Cash loans           F            N
40          100047       1         Cash loans           M            N
42          100049       1         Cash loans           F            N
81          100096       1         Cash loans           F            N
94          100112       1         Cash loans           M            Y
110         100130       1         Cash loans           F            N
138         100160       1         Cash loans           M            N
154         100181       1         Cash loans           F            N
163         100192       1         Cash loans           F            N
180         100209       1    Revolving loans           M            N
184         100214       1         Cash loans           F            N
211         100246       1         Cash loans           F            N
235         100273       1         Cash loans           F            N
242         100282       1    Revolving loans           F            Y
246         100286       1         Cash loans           M            Y
255         100295       1         Cash loans           M            Y
260         100300       1         Cash loans           M            N
261         100301       1         Cash loans           M            N
283         100326       1         Cash loans           M            Y
291         100336       1         Cash loans           F            Y
344         100396       1         Cash loans           M            N
348         100401       1         Cash loans           F            N
368         100424       1         Cash loans           M            N
381         100439       1         Cash loans           M            N
389         100452       1         Cash loans           M            N
408         100472       1         Cash loans           M            Y
413         100477       1         Cash loans           M            Y
419         100485       1    Revolving loans           M            Y
424         100490       1         Cash loans           M            N
...            ...     ...                ...         ...          ...
57694       166859       0         Cash loans           F            N
89830       204303       0         Cash loans           M            Y
125592      245640       0         Cash loans           M            Y
260773      401781       0         Cash loans           M            N
281277      425855       0         Cash loans           M            N
303963      452175       0         Cash loans           F            N
162312      288170       0         Cash loans           F            Y
216403      350746       0         Cash loans           F            Y
197734      329259       0         Cash loans           F            N
32653       137844       0         Cash loans           F            N
81715       194760       0         Cash loans           F            N
254883      394936       0         Cash loans           F            N
12518       114589       0         Cash loans           F            N
175643      303537       0    Revolving loans           M            Y
292831      439242       0         Cash loans           F            Y
180728      309447       0         Cash loans           M            Y
156511      281416       0         Cash loans           F            Y
288277      433956       0         Cash loans           F            N
258591      399258       0         Cash loans           M            N
305170      453571       0         Cash loans           M            Y
120294      239484       0         Cash loans           F            Y
263364      404930       0         Cash loans           F            N
116118      234653       0         Cash loans           F            N
147094      270544       0    Revolving loans           F            Y
245385      383989       0         Cash loans           F            Y
256819      397202       0         Cash loans           F            N
72795       184416       0         Cash loans           F            N
21304       124819       0    Revolving loans           M            N
44630       151702       0         Cash loans           F            Y
78468       190971       0         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
0                    Y             0          202500.0    406597.5
26                   Y             0          112500.0    979992.0
40                   Y             0          202500.0   1193580.0
42                   N             0          135000.0    288873.0
81                   Y             0           81000.0    252000.0
94                   Y             0          315000.0    953460.0
110                  Y             1          157500.0    723996.0
138                  Y             0          292500.0    675000.0
154                  Y             0          157500.0    245619.0
163                  N             0          111915.0    225000.0
180                  Y             3          180000.0    540000.0
184                  Y             1          202500.0    436032.0
211                  Y             0          135000.0    495216.0
235                  Y             0          157500.0   1710000.0
242                  Y             0           73341.0    135000.0
246                  Y             1          121500.0    263686.5
255                  N             1          225000.0   1019205.0
260                  N             0           63000.0    426645.0
261                  Y             1          112500.0    571486.5
283                  Y             0           36000.0    284400.0
291                  Y             0          157500.0    497520.0
344                  N             0          112500.0    417024.0
348                  Y             0          202500.0    343683.0
368                  Y             0          112500.0    117162.0
381                  Y             0           81000.0    312840.0
389                  Y             1          171000.0   1009566.0
408                  Y             1          135000.0    545040.0
413                  Y             1          112500.0    284400.0
419                  N             1          270000.0    810000.0
424                  N             0          135000.0    755190.0
...                ...           ...               ...         ...
57694                N             0          202500.0    675000.0
89830                Y             1          427500.0    352422.0
125592               Y             0          234000.0   1451047.5
260773               N             0           63000.0    108801.0
281277               Y             0          202500.0    377370.0
303963               Y             1           72000.0    148365.0
162312               Y             0           90000.0    148365.0
216403               Y             0          270000.0    360000.0
197734               N             3          180000.0    900000.0
32653                Y             0          171000.0    279000.0
81715                N             2           99000.0    247275.0
254883               N             0          112500.0    390960.0
12518                Y             2          108000.0    339241.5
175643               Y             0          112500.0    675000.0
292831               Y             1          360000.0    497520.0
180728               N             3          135000.0    675000.0
156511               Y             1           76500.0    397017.0
288277               N             0          112500.0    539100.0
258591               N             0           90000.0    315000.0
305170               N             0          225000.0    971280.0
120294               N             0          103500.0    312768.0
263364               N             0          135000.0    988875.0
116118               Y             2          157500.0    203760.0
147094               Y             2          211500.0    180000.0
245385               Y             0          297000.0    582804.0
256819               N             0          157500.0   1042560.0
72795                Y             0          270000.0    545040.0
21304                Y             1          157500.0    270000.0
44630                Y             1          225000.0    521280.0
78468                N             0          130500.0   1006920.0

        AMT_ANNUITY  ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20  \
0           24700.5  ...                 0                0                0
26          27076.5  ...                 0                0                0
40          35028.0  ...                 0                0                0
42          16258.5  ...                 0                0                0
81          14593.5  ...                 0                0                0
94          64107.0  ...                 0                0                0
110         30802.5  ...                 0                0                0
138         36747.0  ...                 0                0                0
154         12667.5  ...                 0                0                0
163         21037.5  ...                 0                0                0
180         27000.0  ...                 0                0                0
184         28516.5  ...                 0                0                0
211         26995.5  ...                 0                0                0
235         66262.5  ...                 0                0                0
242          6750.0  ...                 1                0                0
246         17298.0  ...                 0                0                0
255         31032.0  ...                 1                0                0
260         22468.5  ...                 0                0                0
261         31131.0  ...                 0                0                0
283         10849.5  ...                 0                0                0
291         28692.0  ...                 0                0                0
344         25330.5  ...                 0                0                0
348         16663.5  ...                 0                0                0
368         12433.5  ...                 0                0                0
381         22891.5  ...                 0                0                0
389         36391.5  ...                 0                0                0
408         26509.5  ...                 0                0                0
413         22599.0  ...                 0                0                0
419         40500.0  ...                 0                0                0
424         38686.5  ...                 0                0                0
...             ...  ...               ...              ...              ...
57694       25708.5  ...                 0                0                0
89830       30375.0  ...                 0                0                0
125592      53775.0  ...                 0                0                0
260773       7866.0  ...                 0                0                0
281277      28215.0  ...                 0                0                0
303963      10548.0  ...                 0                0                0
162312      10453.5  ...                 0                0                0
216403      28570.5  ...                 0                0                0
197734      29745.0  ...                 0                0                0
32653       13698.0  ...                 0                0                0
81715       17716.5  ...                 0                0                0
254883      16564.5  ...                 0                0                0
12518       12919.5  ...                 0                0                0
175643      33750.0  ...                 0                0                0
292831      56263.5  ...                 0                0                0
180728      28728.0  ...                 0                0                0
156511      20398.5  ...                 0                0                0
288277      29376.0  ...                 0                0                0
258591      22918.5  ...                 0                0                0
305170      54234.0  ...                 0                0                0
120294      25074.0  ...                 0                0                0
263364      42025.5  ...                 0                0                0
116118      16227.0  ...                 0                0                0
147094       9000.0  ...                 0                0                0
245385      28165.5  ...                 0                0                0
256819      34587.0  ...                 0                0                0
72795       26640.0  ...                 0                0                0
21304       13500.0  ...                 0                0                0
44630       31630.5  ...                 0                0                0
78468       39933.0  ...                 0                0                0

       FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
0                     0                        0.0                       0.0
26                    0                        0.0                       0.0
40                    0                        0.0                       0.0
42                    0                        0.0                       0.0
81                    0                        0.0                       0.0
94                    0                        0.0                       0.0
110                   0                        0.0                       0.0
138                   0                        0.0                       0.0
154                   0                        0.0                       0.0
163                   0                        0.0                       0.0
180                   0                        0.0                       0.0
184                   0                        NaN                       NaN
211                   0                        0.0                       0.0
235                   0                        NaN                       NaN
242                   0                        NaN                       NaN
246                   0                        0.0                       0.0
255                   0                        0.0                       0.0
260                   0                        0.0                       0.0
261                   0                        1.0                       0.0
283                   0                        0.0                       0.0
291                   0                        0.0                       0.0
344                   0                        0.0                       0.0
348                   0                        NaN                       NaN
368                   0                        0.0                       0.0
381                   0                        0.0                       0.0
389                   0                        NaN                       NaN
408                   0                        0.0                       0.0
413                   0                        0.0                       0.0
419                   0                        0.0                       0.0
424                   0                        NaN                       NaN
...                 ...                        ...                       ...
57694                 0                        0.0                       0.0
89830                 0                        0.0                       0.0
125592                0                        NaN                       NaN
260773                0                        0.0                       0.0
281277                0                        NaN                       NaN
303963                0                        0.0                       0.0
162312                0                        0.0                       0.0
216403                0                        0.0                       0.0
197734                0                        0.0                       0.0
32653                 0                        0.0                       0.0
81715                 0                        NaN                       NaN
254883                0                        0.0                       0.0
12518                 0                        0.0                       0.0
175643                0                        0.0                       0.0
292831                0                        0.0                       0.0
180728                0                        0.0                       0.0
156511                0                        0.0                       0.0
288277                0                        0.0                       0.0
258591                0                        0.0                       0.0
305170                0                        0.0                       0.0
120294                0                        0.0                       0.0
263364                0                        0.0                       0.0
116118                0                        NaN                       NaN
147094                0                        0.0                       0.0
245385                0                        0.0                       0.0
256819                0                        NaN                       NaN
72795                 0                        0.0                       0.0
21304                 0                        0.0                       0.0
44630                 0                        0.0                       0.0
78468                 0                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                              0.0                        0.0
26                             0.0                        0.0
40                             0.0                        2.0
42                             0.0                        0.0
81                             0.0                        0.0
94                             0.0                        0.0
110                            0.0                        0.0
138                            0.0                        0.0
154                            0.0                        0.0
163                            0.0                        0.0
180                            0.0                        0.0
184                            NaN                        NaN
211                            0.0                        0.0
235                            NaN                        NaN
242                            NaN                        NaN
246                            0.0                        0.0
255                            0.0                        6.0
260                            0.0                        0.0
261                            0.0                        1.0
283                            0.0                        0.0
291                            0.0                        0.0
344                            0.0                        0.0
348                            NaN                        NaN
368                            0.0                        0.0
381                            0.0                        1.0
389                            NaN                        NaN
408                            0.0                        0.0
413                            0.0                        0.0

In [ ]:
### Over sampling

In [22]:
x2=df[df['TARGET']==0]

In [23]:
x2.shape

(282686, 122)

In [30]:
x1=df[df['TARGET']==1].sample(x2.shape[0],replace=True)

In [26]:
x1.shape

(282686, 122)

In [35]:
x1.sort_index()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
26,100031,1,Cash loans,F,N,Y,0,112500.0,979992.0,27076.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
26,100031,1,Cash loans,F,N,Y,0,112500.0,979992.0,27076.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
26,100031,1,Cash loans,F,N,Y,0,112500.0,979992.0,27076.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
26,100031,1,Cash loans,F,N,Y,0,112500.0,979992.0,27076.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
26,100031,1,Cash loans,F,N,Y,0,112500.0,979992.0,27076.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
40,100047,1,Cash loans,M,N,Y,0,202500.0,1193580.0,35028.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,4.0
40,100047,1,Cash loans,M,N,Y,0,202500.0,1193580.0,35028.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,4.0
40,100047,1,Cash loans,M,N,Y,0,202500.0,1193580.0,35028.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,4.0
40,100047,1,Cash loans,M,N,Y,0,202500.0,1193580.0,35028.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,4.0
40,100047,1,Cash loans,M,N,Y,0,202500.0,1193580.0,35028.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,4.0
40,100047,1,Cash loans,M,N,Y,0,202500.0,1193580.0,35028.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,4.0
40,100047,1,Cash loans,M,N,Y,0,202500.0,1193580.0,35028.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,4.0
40,100047,1,Cash loans,M,N,Y,0,202500.0,1193580.0,35028.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,4.0
40,100047,1,Cash loans,M,N,Y,0,202500.0,1193580.0,35028.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,4.0
40,100047,1,Cash loans,M,N,Y,0,202500.0,1193580.0,35028.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,4.0
40,100047,1,Cash loans,M,N,Y,0,202500.0,1193580.0,35028.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,4.0
40,100047,1,Cash loans,M,N,Y,0,202500.0,1193580.0,35028.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,4.0
42,100049,1,Cash loans,F,N,N,0,135000.0,288873.0,16258.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
42,100049,1,Cash loans,F,N,N,0,135000.0,288873.0,16258.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
42,100049,1,Cash loans,F,N,N,0,135000.0,288873.0,16258.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
42,100049,1,Cash loans,F,N,N,0,135000.0,288873.0,16258.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
42,100049,1,Cash loans,F,N,N,0,135000.0,288873.0,16258.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
42,100049,1,Cash loans,F,N,N,0,135000.0,288873.0,16258.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
42,100049,1,Cash loans,F,N,N,0,135000.0,288873.0,16258.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
42,100049,1,Cash loans,F,N,N,0,135000.0,288873.0,16258.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307481,456225,1,Cash loans,M,N,Y,0,225000.0,297000.0,19975.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307481,456225,1,Cash loans,M,N,Y,0,225000.0,297000.0,19975.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307481,456225,1,Cash loans,M,N,Y,0,225000.0,297000.0,19975.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307489,456233,1,Cash loans,F,N,Y,0,225000.0,521280.0,23089.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307489,456233,1,Cash loans,F,N,Y,0,225000.0,521280.0,23089.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307489,456233,1,Cash loans,F,N,Y,0,225000.0,521280.0,23089.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307489,456233,1,Cash loans,F,N,Y,0,225000.0,521280.0,23089.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307489,456233,1,Cash loans,F,N,Y,0,225000.0,521280.0,23089.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307489,456233,1,Cash loans,F,N,Y,0,225000.0,521280.0,23089.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307489,456233,1,Cash loans,F,N,Y,0,225000.0,521280.0,23089.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307489,456233,1,Cash loans,F,N,Y,0,225000.0,521280.0,23089.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307489,456233,1,Cash loans,F,N,Y,0,225000.0,521280.0,23089.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307489,456233,1,Cash loans,F,N,Y,0,225000.0,521280.0,23089.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307489,456233,1,Cash loans,F,N,Y,0,225000.0,521280.0,23089.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307489,456233,1,Cash loans,F,N,Y,0,225000.0,521280.0,23089.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307489,456233,1,Cash loans,F,N,Y,0,225000.0,521280.0,23089.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307489,456233,1,Cash loans,F,N,Y,0,225000.0,521280.0,23089.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307489,456233,1,Cash loans,F,N,Y,0,225000.0,521280.0,23089.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
x1.shape,x2.shape

((282686, 122), (282686, 122))

In [37]:
test1=x1.append(x2)

In [38]:
test1.shape

(565372, 122)

In [59]:
### SMOTE (Synthetic Minority Over sampling technique)

In [ ]:
pip install imblearn

In [41]:
from imblearn.over_sampling import SMOTE

In [42]:
df=df[df.describe().columns]

In [45]:
df.fillna(20,inplace=True)

In [51]:
y=df['TARGET']
#x=df.drop('TARGET',axis=1)

In [53]:
x=df.drop('TARGET',axis=1)

In [57]:
from sklearn.model_selection import train_test_split

In [58]:
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [60]:
print("Number transactions X_train dataset: ", X_train.shape)
print("Number transactions y_train dataset: ", y_train.shape)
print("Number transactions X_test dataset: ", X_test.shape)
print("Number transactions y_test dataset: ", y_test.shape)

Number transactions X_train dataset:  (215257, 105)
Number transactions y_train dataset:  (215257,)
Number transactions X_test dataset:  (92254, 105)
Number transactions y_test dataset:  (92254,)

In [79]:
print("Before OverSampling, counts of label '1': {}".format(sum(y_train==1)))
print("Before OverSampling, counts of label '0': {}".format(sum(y_train==0)))

Before OverSampling, counts of label '1': 17359
Before OverSampling, counts of label '0': 197898

In [82]:
sm = SMOTE(random_state=2)
X_train_res, y_train_res = sm.fit_sample(X_train,y_train.ravel())

In [83]:
print("After OverSampling, the shape of X_train: {}".format(X_train_res.shape))
print("After OverSampling, the shape of y_train: {}".format(y_train_res.shape))

After OverSampling, the shape of X_train: (395796, 105)
After OverSampling, the shape of y_train: (395796,)

In [86]:
from sklearn.model_selection import train_test_split

for i in range(0,10):
    X_train,X_test,y_train,y_test = train_test_split(x,y, test_size=0.3,random_state=89)
    print(X_train[X_train.columns[0]].mean())

278111.16496559925
278111.16496559925
278111.16496559925
278111.16496559925
278111.16496559925
278111.16496559925
278111.16496559925
278111.16496559925
278111.16496559925
278111.16496559925